* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    background-color: deepskyblue;
    color: ivory;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.game-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
canvas {
    border: 4px solid teal;
    border-radius: 8px;
    background-color: mediumspringgreen;
}
.buttons-container {
    display: flex;
    flex-wrap: wrap;
    *justify-content: center;
    align-items: center;
    width: 100%;
}
.buttons-container--principal {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    *width: 100%;
}
.buttons-container--principal button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-color: cadetblue;
    background-color: blueviolet;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/d/d6/Feather-arrows-arrow-up.svg/1024px-Feather-arrows-arrow-up.svg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.buttons-container--secundary button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-color: cadetblue;
    background-color: yellow;
    background-image: url('https://cdn0.iconfinder.com/data/icons/line-design-basic-set-10/24/refresh-page-F5-512.png');
    background-size: cover;
    background-position: -1px;
    background-repeat: no-repeat;
}

.buttons-container--principal #left {
    transform: rotate(-90deg);
}
.buttons-container--principal #right {
    transform: rotate(90deg);
}
.buttons-container--principal #down {
    transform: rotate(180deg);
}

.buttons-container--principal button:not(:last-child) {
    margin: 0 10px;
}

.info {
    display: flex;
    flex-wrap: wrap;
    margin: o auto;
    width: 80%;
    max-width: 460px;
}
p {
    display: block;
    margin: 0;
    width: 100%;
}

@media (max-width: 440px) {
    #up, #down {
        margin: 0 30%;
    }
}
@media (min-width: 441px) {
    #down {
        margin: 0 10px;
    }
}